{% if command %}
<table border="1" cellpadding="6" cellspacing="0">
    <tbody>
        <tr><th>ID</th><td>{{ command.id }}</td></tr>
        <tr><th>Name</th><td>{{ command.command_name }}</td></tr>
        <tr><th>Status</th><td>{{ command.status }}</td></tr>
        <tr><th>Target</th><td>{{ command.target_kind }} / {{ command.target_id }}</td></tr>
        <tr><th>Edge Node</th><td>{{ command.edge_node_id }}</td></tr>
        <tr><th>Created By</th><td>{{ command.created_by }}</td></tr>
        <tr><th>Created At</th><td>{{ command.created_at }}</td></tr>
        <tr><th>Payload</th><td>{{ command.payload }}</td></tr>
    </tbody>
</table>
{% else %}
<p>No command details available.</p>
{% endif %}
