name: sfs

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: smartfarm
      POSTGRES_USER: smartfarm
      POSTGRES_PASSWORD: smartfarm
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  mqtt:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    networks:
      - iot

  management:
    build: ../../backend/services/management
    env_file:
      - ../../infrastructure/env/.env.example
      - ../../backend/services/management/.env.example
    depends_on:
      - db
    networks:
      backend:
        aliases:
          - django
    ports:
      - "8000:8000"

  data_ingestion:
    build: ../../backend/services/data_ingestion
    env_file:
      - ../../infrastructure/env/.env.example
      - ../../backend/services/data_ingestion/.env.example
    depends_on:
      - mqtt
      - management
    networks:
      - backend
      - iot

  device_controller:
    build: ../../backend/services/edge_controller
    env_file:
      - ../../infrastructure/env/.env.example
      - ../../backend/services/edge_controller/.env.example
    depends_on:
      - mqtt
      - management
    networks:
      - backend
      - iot

  monitoring:
    build: ../../backend/services/monitoring
    env_file:
      - ../../infrastructure/env/.env.example
      - ../../backend/services/monitoring/.env.example
    depends_on:
      - management
    networks:
      - backend

  ai_decision:
    build: ../../backend/services/ai_decision
    env_file:
      - ../../infrastructure/env/.env.example
      - ../../backend/services/ai_decision/.env.example
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
  iot:
