# =========================
# Global definitions
# =========================

networks:
  sfs_net:

volumes:
  postgres_data:

# =========================
# Services
# =========================
services:

  # ---------- DATABASE
  postgres:
    image: postgres:15
    container_name: sfs-postgres
    restart: always
    env_file:
      - ../env/postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sfs_net

  # ---------- MANAGEMENT (Django)
  management:
    container_name: sfs-management
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/management/Dockerfile
      args:
        BASE_IMAGE: sfs_base
    env_file:
      - ../env/management.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  # ---------- MONITORING
  monitoring:
    container_name: sfs-monitoring
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/monitoring/Dockerfile
      args:
        BASE_IMAGE: sfs_base
    env_file:
      - ../env/monitoring.env
    ports:
      - "8002:8002"

  # ---------- DATA INGESTION
  data_ingestion:
    container_name: sfs-data-ingestion
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/data_ingestion/Dockerfile
      args:
        BASE_IMAGE: sfs_base
    env_file:
      - ../env/data_ingestion.env
    depends_on:
      - management
      - monitoring
    ports:
      - "8001:8001"

  # ---------- EDGE CONTROLLER
  edge_controller:
    container_name: sfs-edge-controller
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/edge_controller/Dockerfile
      args:
        BASE_IMAGE: sfs_base
    env_file:
      - ../env/edge_controller.env
    depends_on:
      - data_ingestion
    ports:
      - "8003:8003"

  # ---------- AI DECISION
  ai_decision:
    container_name: sfs-ai-decision
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/ai_decision/Dockerfile
      args:
        BASE_IMAGE: sfs_base
    env_file:
      - ../env/ai_decision.env
    depends_on:
      - management
    ports:
      - "8004:8004"

  # ---------- FRONTEND
  webapp:
    container_name: sfs-webapp
    restart: always
    networks:
      - sfs_net
    build:
      context: ../..
      dockerfile: infrastructure/docker/webapp/Dockerfile
    env_file:
      - ../env/webapp.env
    depends_on:
      - management
      - monitoring
      - ai_decision
    ports:
      - "3000:3000"
