version: "3.9"

networks:
  sfs_net:

volumes:
  postgres_data:

services:

  postgres:
    image: postgres:15
    container_name: sfs-postgres
    restart: always
    env_file:
      - ../env/management.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - sfs_net

  management:
    build: ./management
    container_name: sfs-management
    restart: always
    env_file:
      - ../env/management.env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    networks:
      - sfs_net

  monitoring:
    build: ./monitoring
    container_name: sfs-monitoring
    restart: always
    env_file:
      - ../env/monitoring.env
    ports:
      - "8002:8002"
    networks:
      - sfs_net

  data_ingestion:
    build: ./data_ingestion
    container_name: sfs-data-ingestion
    restart: always
    env_file:
      - ../env/data_ingestion.env
    depends_on:
      - management
      - monitoring
    ports:
      - "8001:8001"
    networks:
      - sfs_net

  edge_controller:
    build: ./edge_controller
    container_name: sfs-edge-controller
    restart: always
    env_file:
      - ../env/edge_controller.env
    depends_on:
      - data_ingestion
    ports:
      - "8003:8003"
    networks:
      - sfs_net

  ai_decision:
    build: ./ai_decision
    container_name: sfs-ai-decision
    restart: always
    env_file:
      - ../env/ai_decision.env
    depends_on:
      - management
    ports:
      - "8004:8004"
    networks:
      - sfs_net
      
  webapp:
    build: ../../frontend/webapp
    container_name: sfs-webapp
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - management
      - monitoring
      - ai_decision
    networks:
      - sfs_net
